.about{
  padding: 30px;
  background-color: rgb(68, 70, 66);
  color: white;
}

.tab{
  background-color: rgb(58, 44, 38);
  color: white;
}

.title{
  text-decoration: underline;
  text-align: center;
}

.subtitle{
  font-family:serif;
  text-align: center;
  padding-right: 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 25%;
  max-height:15%;
  
}

.side-to-side {
  font-size: 15px;
  justify-content: center;
  padding-left: 210px;
  display: flex;
  font-size: 110%;
}

form{
  padding:30px;
  
}

input[type=text], select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}


.name{
  display: inline-block;
  grid-gap: 30px;
  
  width: 80%;
}