.about{
  padding: 30px;
  background-color: rgb(68, 70, 66);
  color: white;
}

header{
  background-color: rgb(16, 32, 24);
  color: white;
}

h1{
  text-decoration: underline;
  text-align: right;
  padding-right: 50px;
}

h2{
  font-family:serif;
  text-align: right;
  padding-right: 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 25%;
  max-height:15%;
  
}

.side-to-side {
  font-size: 15px;
  justify-content: center;
  padding-left: 210px;
  display: flex;
  font-size: 110%;
}